.row{
    margin-left: 20px;
    color: #fff;
    margin-top: 16px;
}

.posters{
   display: flex;
   padding: 20px;
   max-width: 93vw;
   overflow-x: scroll;
   overflow-y: hidden;
}
.posters::-webkit-scrollbar{
    display: none;
}

.images{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    width: 350px;
}

.images:hover{
    transform: scale(1.1);
}

.smallImage{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;

}


